<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>关于作者</title>
    <link rel="stylesheet" href="../css/menu.css">
    <link rel="stylesheet" href="../css/about.css">
</head>

<body>
    <!-- menu -->
    <nav>
        <div class="logo">
            <img src="../image/dst.ico" alt="Logo Image">
        </div>
        <div class="hamburger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <ul class="nav-links">
            <li><a href="../index.html">网站首页</a></li>
            <li><a href="./about.html">关于作者</a></li>
            <!-- <li><a href="./map.html"></a></li>
            <li><a href="./test.html"></a></li> -->
            <li><a href="./call.html">加入讨论</a></li>
            <!-- <li><button class="login-button" onclick="window.location.href ='./sign.html'">登录</button></li>
            <li><button class="join-button" onclick="window.location.href ='./login.html'">注册</button></li> -->
        </ul>
    </nav>
    <div id="aboutbj"></div>
    <div class="wrapBox">
        <div class="box">
            <div class="box02_content box_content">
                <div id="bar_container" class="bar_container">
                    <div class="bar mint active" data-percent="70" data-skill="character"></div>
                    <div class="bar red active" data-percent="30" data-skill="iteam"></div>
                    <div class="bar lila active" data-percent="70" data-skill="tweak"></div>
                    <div class="bar orange active" data-percent="30" data-skill="other"></div>
                    <!-- <div class="bar gray active" data-percent="30" data-skill="Python"></div>
                    <div class="bar blue active" data-percent="50" data-skill="xml&amp;Tomcat&amp;Linux&amp;Nginx"></div>
                    <div class="bar green active" data-percent="60" data-skill="mysql"></div> -->
                </div>
                <div id="box02_text">
                    <h1 style="right: 0px;">About author</h1>
                    <div class="overline" style="right: 0px;"></div>
                    <p style="right: 0px;">编者注：</p>
                    <p style="right: 0px;">你是否对官方的人物设计感到不满？</p>
                    <p style="right: 0px;">你是否对原版的鸡肋物品感到失望？</p>
                    <p style="right: 0px;">请尝试饥荒mod作者Bering的作品合集</p>
                    <p style="right: 0px;">引用自 白令：</p>
                    <p style="right: 0px;">“这里是白令，一个希望打造真正的全角色平衡的DST玩家。”</p>
                    <p style="right: 0px;">“欢迎你订阅我的其他角色相关MOD”</p>
                    <p style="right: 0px;">QQ群号：719824493</p>
                    <p style="right: 0px;">入！群！交！流！</p>
                    <p style="right: 0px;">欢迎所有真正关注原版角色平衡的人加入</p>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</body>
<script src="../js/main.js"></script>
<script src="http://qiniu.longxin.press/LuoXue.js" charset="utf-8"></script>

</html>