<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>保鲜餐桌</title>
    <link rel="stylesheet" href="../css/texts.css">
</head>

<body>
    <div class="ceb">
        <div id="title"></div>
        <span id="name">一只老祥瑞</span>
        <span id="myself">
            <a href="../index.html">
               z-luck
            </a>
            <a href="../index.html">
                2年6个月
            </a>
            <div id="p_b_follow"><a href="https://steamcommunity.com/sharedfiles/filedetails/?id=3247770899">求订阅</a></div>
        </span>
        <div id="texts">
            <h4>文章</h4>
            <h5 style="margin-left: 35px;"><a href="./text1.html">反鹰眼夜视</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test2.html">麦斯威尔再平衡</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test3.html">缝纫机</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test4.html">阿比打影怪</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test6.html">原武再锻</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test7.html">大理石树再生</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test8.html">桩木重生</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test9.html">肉架微调</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test10.html">沃尔夫冈重做</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test11.html">吴迪重做</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test12.html">沃姆伍德重做</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test13.html">温蒂重做</a></h5>
            <h5 style="margin-left: 35px; color: rgb(67, 65, 206)">保鲜餐桌</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test15.html">皮弗娄牛改动</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test16.html">驯养考拉象</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test17.html">螃蟹小跟班</a></h5>
        </div>

    </div>
    <!--内容-->
    <div class="container neirong-jian">
        <div class="row">
            <div class="col-h4">
                <h4>保鲜餐桌</h4>
            </div>
            <hr class="row-hr">
            <div id="link">
                <ul id="navList">
                    <li>
                        <a href="../index.html">首页</a>
                    </li>
                    <li>
                        <a href="./about.html">关于</a>
                    </li>
                    <li>
                        <a id="blog_nav_admin" href="./call.html">加入讨论</a>
                    </li>
                </ul>
            </div>
            <hr class="row-hr">
            <div class="col-img"><img src="../image/mod14.png"></div>
            <div>
                <div class="wenzi">
                    <h5>内容简介</h5>
                    <p>！提供一个可以展示料理，右键交互食用，堆叠保鲜同种料理的餐桌 ！</p>
                    <p>觉得不错就给MOD点个赞吧，为了保证贴图不出错作者几乎把每个主流MOD的料理全部一个一个试了一遍，谢谢你！</p>
                    <br>
                    <h5>Tips</h5>
                    <p>1.本MOD理论兼容所有注册了贴图转动画文件的MOD料理,如果你发现某个MOD料理能显示但显示的比较小,那就是这个MOD没有注册但作者手动爆肝进行了兼容,如果有出现没法显示的料理,请在评论区告知我原MOD是什么,我抽空兼容（或者你也可以劝下那个作者注册下贴图转动画文件？）</p>
                    <p>2.在餐桌吃饭角色将可以获得1.1倍收益并额外恢复5点理智（沃利和Wirlywings额外恢复20点理智10生命）</p>
                    <p>3.餐桌可以保鲜料理，但这个料理自身的新鲜度必须高于90%才能被允许放到餐桌上</p>
                    <p>4.即便是放上餐桌，某些角色的挑食问题也不会因此解决</p>
                    <p>5.你可以通过锤击来使已被放上的料理掉落</p>
                    <p>6.餐桌不接受调味料理，别问为什么</p>
                    <p>7.注意防火</p>
                    <p>8.强烈推荐与Heap of Foods一同开启！</p>
                    <p>9.餐桌的合成配方为：1牛毛，1木板，1蓝宝石</p>
                    <p>10.当餐桌上放有料理时，餐桌会提供一个小型精神恢复光环</p>
                    <p>11.放置在餐桌上的料理其负面效果会被降低20%而不是提高10%</p>
                    <br>
                    <p>上一篇：<a href="./test13.html">温蒂重做</a></p>
                    <p>下一篇：<a href="./test15.html">皮弗娄牛改动</a></p>
                </div>
                <!--end div.wenzi-2-->
            </div>
            <!--end div.col-sm-12-->
        </div>
        <!--end div.row-->
    </div>

    <!--页脚-->
    <div class="footer">
        <div class="foot_row">
            <p style="text-align: center;">z-luck @ 2024-05-21</p>
        </div>
    </div>

</body>

</html>