<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>麦斯威尔质量更新</title>
    <link rel="stylesheet" href="../css/texts.css">
</head>

<body>
    <div class="ceb">
        <div id="title"></div>
        <span id="name">一只老祥瑞</span>
        <span id="myself">
            <a href="../index.html">
               z-luck
            </a>
            <a href="../index.html">
                2年6个月
            </a>
            <div id="p_b_follow"><a href="https://steamcommunity.com/sharedfiles/filedetails/?id=3016906890">求订阅</a></div>
        </span>
        <div id="texts">
            <h4>文章</h4>
            <h5 style="margin-left: 35px;"><a href="./text1.html">反鹰眼夜视</a></h5>
            <h5 style="margin-left: 35px;"><a href="./text2.html">麦斯威尔再平衡</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test3.html">缝纫机</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test4.html">阿比打影怪</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test5.html">薇希召唤简化</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test6.html">白令再锻</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test7.html">大理石树再生</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test8.html">桩木重生</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test9.html">肉架微调</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test10.html">沃尔夫冈重做</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test11.html">吴迪重做</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test12.html">沃姆伍德重做</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test13.html">温蒂重做</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test14.html">保鲜餐桌</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test15.html">皮弗娄牛改动</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test16.html">驯养考拉象</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test17.html">螃蟹小跟班</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test18.html">麦斯威尔质量更新</a></h5>
        </div>

    </div>
    <!--内容-->
    <div class="container neirong-jian">
        <div class="row">
            <div class="col-h4">
                <h4>麦斯威尔质量更新</h4>
            </div>
            <hr class="row-hr">
            <div id="link">
                <ul id="navList">
                    <li>
                        <a href="../index.html">首页</a>
                    </li>
                    <li>
                        <a href="./about.html">关于</a>
                    </li>
                    <li>
                        <a id="blog_nav_admin" href="./call.html">加入讨论</a>
                    </li>
                </ul>
            </div>
            <hr class="row-hr">
            <div class="col-img"><img src="../image/mod2.png"></div>
            <div>
                <div class="wenzi">
                    <h5>内容简介</h5>
                    <p>-- 老Maxwell Rework已经离开了这个世界。如果您好奇是谁杀了它，请想象一下曾缔造了一整个旧王朝的大魔术师在它的坟前检视影刀和驱使秘典的样子。那或许便是『真相』</p>
                    <p>-- 基于Maxwell Rework制作，更具特色的版本</p>
                    <h5>麦斯威尔自身相关</h5>
                    <h6>1.暗影点数可视化</h6>
                    <p>麦斯威尔会根据自身暗影点数的大小在脚下生成暗影能量，暗影能量越大意味着暗影点数越高，因此您和您的队友可以更加直观的察觉暗影点数对麦斯威尔的影响，而不必自己计算每件装备暗影点数的总和
                    </p>
                    <p>此外，暗影点数还是本MOD的设计中心,后续一些能力都会与暗影点数产生交集</p>
                    <h6>2.暗影装备联动</h6>
                    <p>-- 影刀现在是真正的麦斯威尔之刃，麦斯威尔使用影刀时将改变影刀的外观，并实行一套全新的伤害计算公式（最终伤害为68+暗影点数*2），若其物品栏中存在暗影秘典且燃料＞25%，则自动消耗25%燃料充能影刀
                    </p>
                    <p>
                        ”<b>去吧，我的噩梦燃料，去让剑刃永远锋利！</b>“
                    </p>
                    <p>-- 虚空镰刀同样遵循这个道理，不过虚空镰刀使用纯粹恐惧恢复耐久，伤害计算公式为：18基础位面伤害+暗影点数*4</p>
                    <p>-- 降低75%暗影装备消耗的理智，像老年旺达那样</p>\
                    <p>-- 开局解锁影刀影甲</p>
                    <p>-- 自动消耗4理智为附近的暗夜灯添加燃料</p>
                    <h6>3.暗影袭击，Forge！</h6>
                    <p>-- 当麦斯威尔物品栏存在暗影秘典且自身暗影点数不为0时，对目标累积300伤害后将消耗秘典的燃料召唤一次暗影袭击，暗影袭击的伤害取决于暗影点数
                    </p>
                    <p>-- 触发暗影袭击时，会为周围存在的暗影斗士恢复一定生命</p>
                    <h6>4.一键召回</h6>
                    <p>-- 当存在暗影仆人与暗影角斗士时，可直接右键麦斯威尔召回它们</p>
                    <h6>5.免疫一次查理的攻击</h6>
                    <p><b>”……不要心软，查理。“</b></p>
                    <br>
                    <h5>暗影技能</h5>
                    <h6>1.暗影哨卫</h6>
                    <p>-- 消耗15理智10%燃料，召唤一个不可移动，远程攻击的暗影哨卫</p>
                    <p>-- 暗影哨卫实行弹药制，被召唤时获得 麦斯威尔自身暗影点数*10 的弹药储备，弹药消耗殆尽时消失，如若置之不理，则4分钟后也会自行消失</p>
                    <h6>2.暗影分身 </h6>
                    <p>-- 怀旧单机版影人+老版联机跟随机制，但超级优化</p>
                    <p>-- 消耗15生命25%燃料，召唤一个跟随麦斯威尔的分身，分身拥有比斗士更高的战斗性能，并可以根据你手持的工具来切换不同的工作模式</p>
                    <h6>3.暗影角斗士调整</h6>
                    <p>-- 出场时瞬间吸引仇恨，并在5秒内无敌（战吼）</p>
                    <p>-- 可以在麦斯威尔攻击暗影生物的情况下攻击暗影生物</p>
                    <h6>4.暗影仆人调整</h6>
                    <p>-- 采集的东西直接进入麦斯威尔的物品栏，后顾无忧</p>
                    <h6>5.暗影陷阱调整</h6>
                    <p>-- 0帧起手</p>
                    <p>-- 如果目标连续俩次被恐吓，则附加暗影虚弱Buff并有10%生产出一个噩梦燃料</p>
                    <p>-- 鸟类被恐吓后会在尝试飞行时坠机，方便捕鸟</p>
                    <br>
                    <h5>其他改动</h5>
                    <h6>1.暗影秘典</h6>
                    <p>-- 大改，现在秘典可以装备在武器栏，并提供2级暗影点数</p>
                    <p>-- 普攻释放远程暗影蝙蝠群，对目标造成基于自身暗影点数的位面伤害，附加暗影虚弱buff并为周围的角斗士恢复对应的生命</p>
                    <p>-- 新增施法事件设定，当自身暗影点数分别到达4，5，8点时，会触发三种不同的事件</p>
                    <h6>2.暗影高礼帽</h6>
                    <p>-- 麦斯威尔装备时移除耐久机制，提高10%移速</p>
                    <p>-- 跨世界存储物品，即在任何世界都存储一样的内容</p>
                    <h6>3.魔术箱</h6>
                    <p>-- 允许麦斯威尔在打开时【跳入】，传送至上一个建造的魔术箱的位置</p>
                    <h6>4.理智提纯</h6>
                    <p>-- 麦斯威尔可消耗25理智获得一个噩梦燃料，魔法二本解锁</p>
                    <p>-- 麦斯威尔可用12个噩梦燃料提纯1个纯粹恐惧，魔法二本解锁</p>
                    <h6>5.麦斯威尔之灯 & 雕像</h6>
                    <p>-- 俩个麦斯威尔可制作建筑，打造你的旧王朝</p>
                    <br>
                    <h5>平衡性调整：(DEBUFF)</h5>
                    <h6>1.挑剔食物</h6>
                    <p>作为一个高贵的体面人，麦斯威尔拒绝进食红鲜食物，吃黄鲜食物则扣除25点理智，同时，他现在也讨厌重复食物，食物记忆1.5天，食物最低收益为50%，该改动主要平衡麦斯威尔在理智方面的高额恢复效果
                    </p>
                    <p><b>”体面人不应该总是吃同一种食物。“</b></p>
                    <p><b>”文明人不吃这种东西。“</b></p>
                    <h6>2.能力回调</h6>
                    <P>麦斯威尔现在不可以阅读图书管理员薇克的书籍，所有</P>
                    <p><b>”或许我不该剽窃别人的能力……“</b></p>
                    <h6>3.更脆弱的身体</h6>
                    <p>麦斯威尔脆弱的身体素质使其受到双倍的过冷，过热，饥饿以及烧伤伤害</p>
                    <p><b>”文质彬彬但很脆弱。“</b></p>
                    <br>
                    <p>上一篇：<a href="./text17.html">螃蟹小跟班</a></p>
                </div>
                <!--end div.wenzi-2-->
            </div>
            <!--end div.col-sm-12-->
        </div>
        <!--end div.row-->
    </div>

    <!--页脚-->
    <div class="footer">
        <div class="foot_row">
            <p style="text-align: center;">z-luck @ 2024-01-14</p>
        </div>
    </div>

</body>

</html>