<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>麦斯威尔再平衡</title>
    <link rel="stylesheet" href="../css/texts.css">
</head>

<body>
    <div class="ceb">
        <div id="title"></div>
        <span id="name">一只老祥瑞</span>
        <span id="myself">
            <a href="../index.html">
               z-luck
            </a>
            <a href="../index.html">
                2年6个月
            </a>
            <div id="p_b_follow"><a href="https://steamcommunity.com/sharedfiles/filedetails/?id=3016906890">求订阅</a></div>
        </span>
        <div id="texts">
            <h4>文章</h4>
            <h5 style="margin-left: 35px;"><a href="./text1.html">反鹰眼夜视</a></h5>
            <h5 style="margin-left: 35px; color: rgb(67, 65, 206);">麦斯威尔再平衡</h5>
            <h5 style="margin-left: 35px;"><a href="./test3.html">缝纫机</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test4.html">阿比打影怪</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test5.html">薇希召唤简化</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test6.html">白令再锻</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test7.html">大理石树再生</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test8.html">桩木重生</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test9.html">肉架微调</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test10.html">沃尔夫冈重做</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test11.html">吴迪重做</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test12.html">沃姆伍德重做</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test13.html">温蒂重做</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test14.html">保鲜餐桌</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test15.html">皮弗娄牛改动</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test16.html">驯养考拉象</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test17.html">螃蟹小跟班</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test18.html">麦斯威尔质量更新</a></h5>
        </div>

    </div>
    <!--内容-->
    <div class="container neirong-jian">
        <div class="row">
            <div class="col-h4">
                <h4>麦斯威尔再平衡</h4>
            </div>
            <hr class="row-hr">
            <div id="link">
                <ul id="navList">
                    <li>
                        <a href="../index.html">首页</a>
                    </li>
                    <li>
                        <a href="./about.html">关于</a>
                    </li>
                    <li>
                        <a id="blog_nav_admin" href="./call.html">加入讨论</a>
                    </li>
                </ul>
            </div>
            <hr class="row-hr">
            <div class="col-img"><img src="../image/mod2.png"></div>
            <div>
                <div class="wenzi">
                    <h5>内容简介</h5>
                    <p>官方重做我个人感觉意犹未尽，在群友要求下从服务器全角色改动中单独独立出老麦能力的一部分作为一个MOD</p>
                    <h5>主要改动</h5>
                    <h6>1.暗影之刃</h6>
                    <p>影刀现在是真正的麦斯威尔之刀，当老麦使用影刀时将实行一套全新的伤害计算公式（影刀最终伤害为85+自身暗影点数*3），并且最重要的是若其物品栏中存在噩梦燃料，则麦斯威尔自动使用噩梦燃料充能影刀
                    </p>
                    <p>
                        ”<b>去吧，我的噩梦燃料，去让剑刃永远锋利！</b>“
                    </p>
                    <h6>2.噩梦燃料制作</h6>
                    <p>当物品栏存在紫宝石和暗影秘典时，麦斯威尔可以使用30理智合成一个噩梦燃料
                    </p>
                    <p>
                        ”<b>思维和灵魂凝聚在其中……</b>“
                    </p>
                    <h6>3.暗影秘典及其技能全面优化</h6>
                    <p>--当耐久低于75%并且物品栏存在噩梦燃料时自动消耗燃料充能
                    </p>
                    <p>--<b>暗影斗士：</b>重新倒带旧版斗士的回血能力；被召唤时立刻吸引周围所有对玩家抱有敌意的生物的仇恨（用另外一种方式解决读书后摇问题），并且刚出现的前7秒内处于无敌状态；可以攻击暗影生物，但一般不会主动攻击；前摇动画缩短
                    </p>
                    <p>
                        --<b>暗影仆人：</b>移速加快；前摇动画缩短
                    </p>
                    <P>
                        --<b>暗影陷阱：</b>取消出现时的前摇动画
                    </P>
                    <p>
                        --<b>召回：</b>将紫宝石给予暗影秘典（不消耗紫宝石）可以召回全部暗影仆人与斗士
                    </p>
                    <h6>4.暗影高帽不再有耐久度</h6>
                    <h6>5.初始自带2级魔法科技</h6>
                    <h6>6.与老年旺达一样，麦斯威尔同样减少75%使用魔法物品时的精神消耗</h6>
                    <h6>7.精神恢复能力同单机版(20san/min)</h6>
                    <h6>8.免疫一次查理的攻击</h6>
                    <p><b>”……不要心软，查理。“</b></p>
                    <h5>平衡性调整：</h5>
                    <h6>1.挑剔食物</h6>
                    <p>作为一个高贵的体面人，麦斯威尔拒绝进食红鲜食物，吃黄鲜食物则扣除25点理智，同时，他现在也讨厌重复食物，食物记忆1.5天，食物最低收益为50%，该改动主要平衡麦斯威尔在理智方面的高额恢复效果
                    </p>
                    <p><b>”体面人不应该总是吃同一种食物。“</b></p>
                    <p><b>”文明人不吃这种东西。“</b></p>
                    <h6>2.能力回调</h6>
                    <P>麦斯威尔现在不可以阅读图书管理员薇克的书籍，所有</P>
                    <p><b>”或许我不该剽窃别人的能力……“</b></p>
                    <h6>3.更脆弱的身体</h6>
                    <p>麦斯威尔脆弱的身体素质使其受到双倍的过冷，过热，饥饿以及烧伤伤害</p>
                    <p><b>”文质彬彬但很脆弱。“</b></p>
                    <br>
                    <p>上一篇：<a href="./text1.html">反鹰眼夜视 / Cheater Ban</a></p>
                    <p>下一篇：<a href="./test3.html">缝纫机</a></p>
                </div>
                <!--end div.wenzi-2-->
            </div>
            <!--end div.col-sm-12-->
        </div>
        <!--end div.row-->
    </div>

    <!--页脚-->
    <div class="footer">
        <div class="foot_row">
            <p style="text-align: center;">z-luck @ 2024-05-20</p>
        </div>
    </div>

</body>

</html>