<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>白令再锻</title>
    <link rel="stylesheet" href="../css/texts.css">
    <style>
        	/* 表格样式 */
	.table-container {
	   width: 50%;
	   margin: 20px auto;
	   overflow-x: auto; /* 在小屏幕上提供滚动 */
	}
	table {
	   width: 100%;
	   border-collapse: collapse; /* 折叠边框 */
	   margin: 0 auto;
	}
	/* 表头样式 */
	th {
	   background-color: #f2f2f2; /* 浅灰色背景 */
	   color: #333; /* 深色字体 */
	   font-size: 16px;
	   padding: 10px;
	   text-align: left;
	   border: 1px solid #ddd; /* 灰色边框 */
	}
	/* 表格行样式 */
	tr:nth-child(even) {
	   background-color: #f9f9f9; /* 间隔行颜色 */
	}
	/* 表格单元格样式 */
	td {
	   font-size: 14px;
	   padding: 10px;
	   border: 1px solid #ddd; /* 灰色边框 */
	}
	/* 鼠标悬停在行上的效果 */
	tr:hover {
	   background-color: #eaeaea;
	}
	/* 特定物品的样式 */
	.special-item {
	   color: red; /* 特殊物品的字体颜色 */
	   font-weight: bold; /* 粗体显示 */
	}
	/* 缝纫机可回收的帽子样式 */
	.recyclable-hat {
	   color: green; /* 可回收帽子的字体颜色 */
	   font-style: italic; /* 斜体显示 */
	}
    </style>
</head>

<body>
    <div class="ceb">
        <div id="title"></div>
        <span id="name">一只老祥瑞</span>
        <span id="myself">
            <a href="../index.html">
               z-luck
            </a>
            <a href="../index.html">
                2年6个月
            </a>
            <div id="p_b_follow"><a href="https://steamcommunity.com/sharedfiles/filedetails/?id=3154423088">求订阅</a></div>
        </span>
        <div id="texts">
            <h4>文章</h4>
            <h5 style="margin-left: 35px;"><a href="./text1.html">反鹰眼夜视</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test2.html">麦斯威尔再平衡</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test3.html">缝纫机</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test4.html">阿比打影怪</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test5.html">薇希召唤简化</a></h5>
            <h5 style="margin-left: 35px; color: rgb(67, 65, 206);">白令再锻</h5>
            <h5 style="margin-left: 35px;"><a href="./test7.html">大理石树再生</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test8.html">桩木重生</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test9.html">肉架微调</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test10.html">沃尔夫冈重做</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test11.html">吴迪重做</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test12.html">沃姆伍德重做</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test13.html">温蒂重做</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test14.html">保鲜餐桌</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test15.html">皮弗娄牛改动</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test16.html">驯养考拉象</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test17.html">螃蟹小跟班</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test18.html">麦斯威尔质量更新</a></h5>
        </div>

    </div>
    <!--内容-->
    <div class="container neirong-jian">
        <div class="row">
            <div class="col-h4">
                <h4>白令再锻</h4>
            </div>
            <hr class="row-hr">
            <div id="link">
                <ul id="navList">
                    <li>
                        <a href="../index.html">首页</a>
                    </li>
                    <li>
                        <a href="./about.html">关于</a>
                    </li>
                    <li>
                        <a id="blog_nav_admin" href="./call.html">加入讨论</a>
                    </li>
                </ul>
            </div>
            <hr class="row-hr">
            <div class="col-img"><img src="../image/mod6.png"></div>
            <div>
                <div class="wenzi">
                    <h5>内容简介</h5>
                    <p>——这是作者白令的老mod原武再锻的重置promax版，整合了几乎一切作者各mod的非角色改动——</p>
                    <p>——本mod包含对游戏内武器，穿戴物，日用品的优化并增添了一些新物件——</p>
                    <p>——所有的改动可单独配置——</p>
                    <h5>武器改动</h5>
                    <h6>1.三尾猫鞭</h6>
                    <p>-- 造成连续四段总伤害为51的攻击，这个多段伤害不受角色倍率影响，也几乎不受位抗的影响</p>
                    <p>-- 使用缝纫道具修复（如针线包，胶带）</p>
                    <p>-- 耐久为0时不会消失，仍然可以攻击但失去一切特殊效果（类似警钟）</p>
                    <p>-- 鞭挞的触发概率提高至30%（对BOSS仍是5%）</p>
                    <h6>2.蝙蝠棒</h6> 
                    <p>-- 攻击时若玩家处于满血状态，蝙蝠棒的伤害将提高至51并且恢复1点耐久</p> 
                    <p>-- 若不处于满血状态，伤害降低为34并消耗1耐久为玩家恢复生命，玩家生命越低恢复越多（相对的，越接近满血越难恢复，最低只恢复1.5血量）</p> 
                    <p>-- 耐久为0不消失，失去特殊效果变为17伤害，直到玩家下次满血挥刀时恢复耐久</p>
                    <p>-- 移除攻击会消耗精神值的设定</p> 
                    <p>-- 蝙蝠现在有0.5%的概率直接掉落蝙蝠棒（UM的大蝙蝠有1%的掉落概率）</p>
                    <p><b>基于重做后的特性，蝙蝠棒现在仅有40点耐久并且无法对发条生物，食人花，哈奇切斯特触发特效
                        此外，蝙蝠棒现在将一击秒杀所有种类的蝙蝠并使它们有35%额外掉落一个蝙蝠翅膀</b></p>
                    <h6>3.刺耳三叉戟</h6>   
                    <p>-- 对目标造成6秒的潮湿效果，非常适合搭配辣闪</p>
                    <p>-- 当处于潮湿状态时缓慢恢复耐久(10秒恢复1耐久，25%再额外恢复1耐久)，攻击使敌人潮湿6s(薇洛不触发)(<s>这下成祖传用品了</s>)</p>
                    <p>-- 配方更改：活木*2 + 独角鲸角*1 + 海带*4</p>
                    <h6>4.铥矿棒</h6>
                    <p>-- <b>召唤的暗影小触手史诗级优化，在召唤的瞬间就能够打出两次平A（基本上是完全不会丢伤害了）且现在也能正常对影怪造成伤害</b></p>
                    <p>-- 小触手的召唤概率提高至30%，如果同时穿戴了铥甲铥头，那么概率将提高至70% （套装效果）</p>
                    <p>-- 增速效果重做，移除10%常驻加速，取而代之的是现在铥棒将在战斗状态下提供25%加速效果！</p>
                    <p>-- 耐久提高至300，攻击距离变为1</p>
                    <p>-- 配方调整为2活木4铥矿8燃料</p>
                    <h6>5.玻璃刀</h6>
                    <p>-- 取消对影怪耐久消耗减半效果，玻璃刀的耐用程度现在随着使用者的理智升高而提高</p>
                    <p>-- 具体计算机制为-取当前san值百分比（向下取整）/100等到当前耐久损耗，san值低于35%时取0.35，也就是最高3倍耐用</p>
                    <p>-- 削弱暗影生物25%移速与攻击力，能够沉默潜伏暗影的反击</p>
                    <p>-- 击杀暗影生物额外奖励12理智</p>
                    <h6>6.栅栏击剑</h6>
                    <p>-- 攻击距离提高至1,攻击自动取消后摇，强化手感</p>
                    <h6>7.晨星</h6>
                    <p>-- 伤害提高至34，持续时间(耐久)提高至1.5天(原6min/0.75d)</p>
                    <p>-- 可用土豆，硝石，闪电羽毛恢复一定耐久</p>
                    <p>-- 放置在两种发电机旁边时自动消耗发电机电量恢复耐久</p>
                    <p>-- 薇诺娜使用时将对机械生物 （所有发条生物, wx78 ,双子魔眼）造成额外42,5伤害</p>
                    <p><b>注：即便开启永不妥协晨星也会应用所有本MOD的改动，薇诺娜使用时对发条生物额外42.5伤害增强为对所有生物额外34伤害</b></p>
                    <h6>8.暗影剑</h6>
                    <p>-- 影刀的耐用程度现在随着使用者的理智降低而提高</p>
                    <p>-- 具体计算机制为-取当前san值百分比（向下取整）/100等到当前耐久损耗，san值低于20%时取0.2，也就是最高5倍耐用</p>
                    <h6>9.暗影槌</h6>
                    <p>-- 1级以上时物品名称下可看见饥饿度，并可通过喂食肉食恢复饥饿与耐久；可用作锤子；满级时攻击取消后摇</p>
                    <p>-- 耐久恢复公式：（食物生命值*4和饱食度*1的绝对值）*0.25 = 最终所恢复的耐久</p>
                    <h6>10.战斗圆盾</h6>
                    <p>-- 耐久度提高至925，伤害降低至42.5</p>
                    <h6>11.奔雷矛</h6>
                    <p>-- 奔雷冲刺无前摇，冲刺后增加滑步效果提高灵活性，手感丝滑不卡顿</p>
                    <h6>12.天气风向标</h6>
                    <p>-- 现在具有20次耐久且耐久耗尽不会消失，可以用鹅毛修复2点耐久，召唤出的龙卷风伤害降低到2.5点，但是可以足足持续60秒而非5秒（站场能力大幅度提高，显著提高对群怪的控制能力）</p>
                    <h6>13.火腿棒(重做)</h6>
                    <p>-- 配方中树枝换为骨片，伤害降至51，但可用猪皮和各类肉食填料,沃利可以让火腿棒永远打出51伤害</p>
                    <p>-- 火腿棒前10%新鲜度不降低伤害，两个相同的火腿棒可以合并新鲜度,所有肉食包括肉类料理都可以为火腿棒填料恢复新鲜度</p>
                    <p>-- 公式：恢复该食物饱食度*30秒的新鲜时间（因此黄鲜比绿鲜恢复效果差），怪物系列减半，猪皮固定恢复1800秒</p>
                    <p>14.触手尖刺</p>
                    <p>-- 每次攻击叠加一层刺伤Debuff，使目标移动时持续失去生命</p>
                    <p>-- 每次叠加0.5刺伤流血伤害持续20秒，20秒内没有再次用尖刺攻击失去所有刺伤层数,移速越快，刺伤流血伤害越大</p>
                    <p>-- 在持有剃刀的情况下可在精炼栏使用 触手尖刺*3 合成触手皮</p>
                    <br><br>
                    <h5>护具改动</h5>
                    <h6>1.草甲</h6>
                    <p>-- 现在提供+10%移速</p>
                    <h6>2. W.A.R.B.I.S套装</h6>
                    <p>-- 获取时期提前到拾荒疯猪阶段（boss掉落自动修理机，W.A.R.B.I.S套装蓝图）</p>
                    <p>-- 优化锁定追踪效果,升级速度降低到2秒，同步时间缩短到1秒</p>
                    <p>-- 无锁定瓦头现在提供1.15倍增伤，满级1.3倍，无锁定瓦甲现在提供1.1倍移速，满级1.25倍</p>
                    <p>-- W.A.R.B.I.S头戴齿轮的减伤降低到70%，W.A.R.B.I.S盔甲的耐久度提高为1050(原730)</p>
                    <p> 同时穿戴W.A.R.B.I.S头戴齿轮与W.A.R.B.I.S盔甲并且处于极致状态时，周期性的释放蒸汽冲击波击退锁定目标周围的敌人(<s>吓我一跳释放忍术</s>)</p> 
                    <h6>3.拾荒尖帽(重做)</h6>    
                    <p>-- 耐久变更为935，拥有80%护甲减伤</p>         
                    <p>-- 可避免落石伤害</p>
                    <h6>4.统帅头盔</h6>
                    <p>-- 允许你常驻一个战歌Buff，可在制作栏使用 大理石*2 + 黄金*1 修理统帅头盔</p>
                    <h6>5.饼干切割机帽子</h6>
                    <p>-- 可用饼干切割机壳修复耐久，单体反伤攻击者17伤害(处于海上时更强，单体反伤51)并驱离饼干切割机</p>
                    <br><br>
                    <h5>日用品改动</h5>
                    <h6>1.海花环</h6>
                    <p>-- 负面理智效果提高至-12san/min，真正的月岛花环</p>
                    <h6>2.懒人手杖</h6>
                    <p>-- 耐久提高到30次，损坏时返还步行手杖</p>
                    <h6>3.珍宝袋(新增)</h6>
                    <p>-- 背包：科技要求-完整远古遗迹科技，制作配方-啜食者皮*6 + 铥矿碎片*2 + 橙宝石*1</p>
                    <p>-- 8格容量（七种宝石+晶洞果） 可存储所有Prefab字符串后缀为gem的物品 (编者注：兼容按规范为新增宝石命名的mod)</p>
                    <h6>4.糖果袋(新增)</h6>
                    <p>-- 取消装备机制改为便携容器机制，并新增打开贴图和格子贴图</p>
                    <p>-- 这个容器拥有50%的腐烂倍率</p>
                    <p>-- 可放入物品除了原版的万圣节食物与玩具，原版DST所有玩具以外，还新增所有冬季盛宴物品/零食和部分糖类料理（太妃，糖豆，棱镜的烤棉花糖，UM的米花糖，樱花林的樱花太妃）</p>
                    <p>-- 因为这是一个新增物品，所以原版的糖果袋仍然是可用的</p>
                    <p>-- 配方常驻</p>
                    <h6>5.清洁扫把(重做)</h6>
                    <p>-- 无科技需求5理智5生命可制造（随时随地，想换皮肤就换皮肤，不再受限！），卸下时消失</p>
                    <h6>6.提灯</h6>
                    <p>-- 允许玩家快速丢出提灯，并在丢出的瞬间切换物品栏内伤害最高的武器</p>
                    <p>-- 编者注：这个功能作者有单独mod版本</p>
                    <h6>7.睡袋(重做)</h6>
                    <p>-- 配方更改为: 蘑菇皮*1 + 中毒金丝雀*1 + 犁地草膏*2，只能制作一个，丢出后不消失可重复使用，CD90s</p>
                    <p>-- 在孢子云中会持续消耗饥饿恢复血量与精神，随从恢复更多，蟾蜍则受到百分比伤害</p>
                    <p>-- 恢复效率为：-1.5饥饿+2生命+1.5理智/0.75s，随从额外恢复随机12-18生命，蟾蜍则失去8%生命/0.75s</p>
                    <p>-- CD期间无法装备到手上</p>
                    <h6>8.保鲜背包(重做)</h6>
                    <p>-- 配方中的熊皮替换为1毛皮铺盖1蓝宝石 (在有熊桶的今天使其获取时期提前)</p>
                    <h7>9.熊皮大衣(重做)</h7>
                    <p>-- 获得1格暖石容器，拥有新的UI与格子贴图</p>
                    <p>-- 保暖值降到30，当你移动时容器内暖石持续升温(1s/+1度)</p>
                    <p>-- 你不会累积冰冻层数</p>
                    <h6>10.视界扩展器</h6>
                    <p>-- 可防风。移除耐久度设定但本体更加脆弱，可以用锤子砸碎获得一些材料（但这也意味着其他具备破坏能力的生物也会破坏放在地面的视界扩展器）</p>
                    <h6>11.寒冰护符(重做)</h6>
                    <p>-- 当你被冰冻时，立刻为你解冻并恢复护符自身35%的耐久</p>
                    <p>-- 必定直接冰冻攻击你的敌人，但冰冻时间很短(进行一个短暂却有效的控反)</p>
                    <h6>12.壳修复套件(新增)</h6>
                    <p>-- 工具栏制造 壳修复套件 用于修复背壳头盔，蜗壳护甲，饼干切割机头盔（大约恢复50%耐久）以及蜗牛巢</p>
                    <p>-- 背壳头盔，蜗壳护甲可以通过锤子回收1-2壳碎片</p>
                    <p>-- 壳修复套件配方：壳碎片*1 + 蜗牛粘液*2  一级科技解锁</p>
                    <h6>13.寒霜冷炉(新增)</h6>
                    <p>-- 启用后龙蝇会掉落寒霜冷炉的图纸，这是一个与龙鳞熔炉相反的炉子</p>
                    <p>-- 可以给予暖石使暖石瞬间降温，给予冰块使其反鲜，或给予有水的水壶生成冰块</p>
                    <p>-- 配方：龙鳞*1 + 蓝宝石*2 + 月岩*10</p>
                    <h6>14.饥饿腰带(重做)</h6>
                    <p>-- 可以喂食饥饿腰带使其储存该食物40%的三维属性，并在你三维不满时持续为你恢复（1.5秒进行一次，恢复成功率 = 腰带当前耐久百分比）</p>
                    <p>-- 穿戴时，根据自身存储的饱食度获得精神光环和发光效果，会自然掉落储存的饱食度，自身耐久越低恢复效率越差</p>
                    <p>-- 储存三唯上限：500/400/400</p>
                    <h6>15.胶布(改动)</h6>
                    <p>-- 可以修补帐篷/遮阳棚/帐篷卷3次耐久，可以对任意非手部装备进行【缠布】使其暂时绝缘（直到你下次加载游戏时移除绝缘效果）</p>
                    <h6>16.羽毛帽(重做)</h6>
                    <p>-- 70%防水，+6.8san/min，春季的海象帽！</p>
                    <h6>17.晾肉架(改动)</h6>
                    <p>-- 绳索耗费降低至1，移除建筑间距，周围有热源时加快晾干速度</p>
                    <h6>18.不老表</h6>
                    <p>-- 按Alt+右键可进行控龄激活，使得不老表恢复年龄不会使你恢复到更年轻的状态</p>
                    <p>-- 例如旺达70岁时使用控龄激活，只会恢复到65岁而非62岁</p>
                    <h6>19.二次表</h6>
                    <p>-- CD提高至16分钟, 旺达自身作祟时不再碎裂</p>
                    <br><br>
                    <h5>自动缝纫机</h5>
                    <h6>1.介绍</h6>
                    <p>-- 可以在服装栏制造缝纫机，对其填入线材（跟线有关的东西都可以当成线材）获得线轴值（线轴值上限6000，批量填充），自动消耗线轴值缝补地面/假人/玩家身上的可缝补物品，帐篷一类也可以花费线轴值缝补，多个缝纫机可以叠加缝补速度</p>
                    <p>-- 此外，缝纫机还与袋袋MOD联动，袋袋作为玩偶靠近缝纫机即可消耗线轴值缝补回血</p>
                    <h6>2.有效补充物/线轴价值</h6>
                    <div class="table-container">
                        <table>
                            <thead>
                                <tr>
                                    <th>物品</th>
                                    <th>线轴值</th>
                                    <th>物品</th>
                                    <th>线轴值</th>
                                    <th>物品</th>
                                    <th>线轴值</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>芦苇</td>
                                    <td>4</td>
                                    <td>牛毛</td>
                                    <td>14</td>
                                    <td>蜘蛛丝</td>
                                    <td>8</td>
                                </tr>
                                <tr>
                                    <td>钢丝绒</td>
                                    <td>120</td>
                                    <td>胡须</td>
                                    <td>16</td>
                                    <td>小线轴（袋袋）</td>
                                    <td>20</td>
                                </tr>
                                <tr>
                                    <td>兔绒</td>
                                    <td>30</td>
                                    <td>胶带</td>
                                    <td>40</td>
                                    <td>熊毛</td>
                                    <td>25</td>
                                </tr>
                                <tr>
                                    <td>猫线球（棱镜）</td>
                                    <td>240</td>
                                    <td>羽毛帆布</td>
                                    <td>220</td>
                                    <td>邪天翁羽毛</td>
                                    <td>35</td>
                                </tr>
                                <tr>
                                    <td>麋鹿鹅羽毛</td>
                                    <td>35</td>
                                    <td>猫雀羽毛（樱花林）</td>
                                    <td>25</td>
                                    <td>燕雀羽毛（樱花林）</td>
                                    <td>25</td>
                                </tr>
                                <tr>
                                    <td>金色羽毛</td>
                                    <td>25</td>
                                    <td>黑色羽毛</td>
                                    <td>12</td>
                                    <td>蓝色&红色羽毛</td>
                                    <td>16</td>
                                </tr>
                                <tr>
                                    <td>触手皮</td>
                                    <td>100</td>
                                    <td>啜食者皮</td>
                                    <td>50</td>
                                    <td>浣猫尾巴</td>
                                    <td>30</td>
                                </tr>
                                <tr>
                                    <td>暗影碎布</td>
                                    <td>120</td>
                                    <td class="special-item">磨损的纱线(玩具)</td>
                                    <td>666</td>
                                    <td>布（IA）</td>
                                    <td>50</td>
                                </tr>
                                <tr>
                                    <td>蛇皮（IA）</td>
                                    <td>30</td>
                                    <td>棕榈树叶（IA）</td>
                                    <td>15</td>
                                    <td>虎鲨皮（IA）</td>
                                    <td>220</td>
                                </tr>
                                <tr>
                                    <td class="recyclable-hat">海象帽</td>
                                    <td>600</td>
                                    <td class="recyclable-hat">牛帽</td>
                                    <td>120</td>
                                    <td class="recyclable-hat">海盗头巾</td>
                                    <td>100</td>
                                </tr>
                                <tr>
                                    <td class="recyclable-hat">冬帽</td>
                                    <td>100</td>
                                    <td class="recyclable-hat">兔耳罩</td>
                                    <td>80</td>
                                    <td>null</td>
                                    <td>null</td>
                                </tr>
                                <!-- ... 其他帽子 ... -->
                            </tbody>
                        </table>
                      </div>
                    <p>-- 最高值与部分可回收帽子已用红绿色标出</p>
                    <br><br>
                    <h5>餐桌</h5>
                    <p>-- 详情页见 <b><a href="./test14.html">保鲜餐桌</a></b></p>
                    <p>-- 注：在本mod中配方更改为：木板*1，蓝宝石*1，蜘蛛丝*2  二级科技解锁</p>
                    <br><br>
                    <h5>杂项</h5>
                    <p>-- 动态阻力减伤：原妥协废案设定，启用后BOSS周围玩家数量越多减伤能力越强，防止多人游戏情况下BOSS瞬间蒸发，减伤原理：该BOSS 16范围内每有一个玩家，其受到的伤害降低至原先的85%</p>
                    <p>-- 巨型大蒜:蝙蝠与妥协的大蝙蝠靠近巨型大蒜/打蜡巨型大蒜/农产品秤上的巨型大蒜时会逃离消失</p>
                    <p>-- 草蜥蜴：生成草蜥蜴时在原地留下草根，使其不会让草的种植区坑坑洼洼的</p>
                    <p>-- 眼球塔：角色可以通过攻击眼球塔来回收它，眼球塔的攻击可以击退生物，眼球塔可以看见并攻击暗影生物</p>
                    <p>-- 不阻碍放置：绝大多数友方生物实体和仍地下的物品不再阻碍饼船和建筑的放置</p>
                    <p>-- 演唱调整：薇戈所有演唱剧本的行为都会照料周围的农作物（薇戈桑，该种地啦！）</p>
                    <p>-- 手持提灯时按V可开关投掷功能</p>
                    <p>-- 所有配置项现在都有具体的改动说明</p>
                    <br>
                    <p>上一篇：<a href="./test5.html">薇希召唤简化</a></p>
                    <p>下一篇：<a href="./test7.html">大理石树再生</a></p>
                </div>
                <!--end div.wenzi-2-->
            </div>
            <!--end div.col-sm-12-->
        </div>
        <!--end div.row-->
    </div>

    <!--页脚-->
    <div class="footer">
        <div class="foot_row">
            <p style="text-align: center;">z-luck @ 2025-03-13</p>
        </div>
    </div>

</body>

</html>
