<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>沃姆伍德重做</title>
    <link rel="stylesheet" href="../css/texts.css">
</head>

<body>
    <div class="ceb">
        <div id="title"></div>
        <span id="name">一只老祥瑞</span>
        <span id="myself">
            <a href="../index.html">
               z-index
            </a>
            <a href="../index.html">
                2年6个月
            </a>
            <div id="p_b_follow"><a href="https://steamcommunity.com/sharedfiles/filedetails/?id=3202818257">求订阅</a></div>
        </span>
        <div id="texts">
            <h4>文章</h4>
            <h5 style="margin-left: 35px;"><a href="./text1.html">反鹰眼夜视</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test2.html">麦斯威尔再平衡</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test3.html">缝纫机</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test4.html">阿比打影怪</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test6.html">原武再锻</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test7.html">大理石树再生</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test8.html">桩木重生</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test9.html">肉架微调</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test10.html">沃尔夫冈重做</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test11.html">吴迪重做</a></h5>
            <h5 style="margin-left: 35px; color: rgb(67, 65, 206)">沃姆伍德重做</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test13.html">温蒂重做</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test14.html">保鲜餐桌</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test15.html">皮弗娄牛改动</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test16.html">驯养考拉象</a></h5>
        </div>

    </div>
    <!--内容-->
    <div class="container neirong-jian">
        <div class="row">
            <div class="col-h4">
                <h4>沃姆伍德重做</h4>
            </div>
            <hr class="row-hr">
            <div id="link">
                <ul id="navList">
                    <li>
                        <a href="../index.html">首页</a>
                    </li>
                    <li>
                        <a href="./about.html">关于</a>
                    </li>
                    <li>
                        <a id="blog_nav_admin" href="./call.html">加入讨论</a>
                    </li>
                </ul>
            </div>
            <hr class="row-hr">
            <div class="col-img"><img src="../image/mod12.png"></div>
            <div>
                <div class="wenzi">
                    <h5>内容简介</h5>
                    <p>* 本MOD对沃姆伍德进行了脱胎换骨般的重做，现在的他不再是各种设计毫不相关的问题角色，而是一个各种设计环环相扣，出色有趣的角色</p>
                    <p>* 改动不仅包含对本体的全面重做以及一些新增物品，更是有很多很多修改的特别舒服的小细节，这些东西很难在短短一个介绍页向你全面讲述，诸多细节设定和联动彩蛋还请在游戏里体验！</p>
                    <p>* 除此之外，本MOD拥有与永不妥协，岛屿冒险最完美的兼容性，推荐一起食用获得最佳游戏体验！！</p>
                    <h5>沃姆伍德自身相关</h5>
                    <h6>全新自愈分机制</h6></h6>
                    <p>一个涉及到光能，月能，季节，自身潮湿，环境潮湿，环境因素，自身饥饿，开花等级等诸多因素的核心自我痊愈机制，甚至可以让沃姆伍德恢复损失掉的血量上限，由于这个机制的存在，你完全可以选择不把技能点数浪费在官方那堪称糊弄的“光合作用”上</p>
                    <p>当沃姆伍德的饥饿>20%(如果安装了饮水思饥mod，则口渴值也需要>20%)且不处于寒冷，过热，点燃，酸雨等异常状态时，沃姆伍德每12秒会进行一次自愈分结算。</p>
                    <p>自愈分结算有4个基础分数来源，分别是光能基础分，月能基础分，自身潮湿分，环境潮湿分。</p>
                    <h6>★光能基础分来源:</h6>
                    <p>·地表白天时，光能基础分变为1，黄昏时变为0.5</p>
                    <p>·周围存在能使农作物生长的光源时，光能基础分变为1</p>
                    <p>(如洞穴天光，奶奶天光，薇洛火球术，矮星)·特别的，当沃姆伍德物品栏存在炽热太阳鱼时，光能基础分最低保底0.5</p>
                    <br>
                    <h6>★月能基础分来源:</h6>
                    <p>·处于月岛或地下月岛或世界状态为月圆时，月能基础分变为1·靠近极光时，月能基础值变为1</p>
                    <p>靠近安置了月杖的月台时，月能基础值变为1</p>
                    <p>特别的，物品栏存在月泪，彩虹宝石，棱镜的月折宝剑以及两种月轮宝盘时，月能基础值最低保底0.25，存在任意月眼时，月能基础值最低保底0.125</p>
                    <br>
                    <h6>★自身潮湿分来源:</h6>
                    <p>·自身潮湿分等于自身潮湿度比值</p>
                    <br>
                    <h6>★环境潮湿分来源:</h6>
                    <p>·下雨时，环境潮湿分变为0.5，下雪时为0.25</p>
                    <p>·处于永不妥协的暴风雪或者暴风雨中时，环境潮湿分变为0.75</p>
                    <br>
                    <h6>结算机制</h6>
                    <p>四种基础分相加后会再过一次开花等级结算与季节结算</p>
                    <p>最终计算公式为:((月能基础分+光能基础分+自身潮湿分+环境潮湿分）★（当前开花等级+1)/1.5)±(冬季0.5 or 春季1.25 or 秋夏1)</p>
                    <br>
                    <h6>实例</h6>
                    <p>举个简单的例子:春季，潮湿度为38的最终开花阶段的沃姆伍德处在地表的黄昏并且下雨并且身边还有个极光时，那么此时的自愈分结算为:</p>
                    <P>((1+0.5+0.38+0.5)+(3+1)/1.5)*(春季1.25)~= 7.93 ，也就是当次会扣除7.93的饱食度并恢复7.93的血量</P>
                    <p>-- 虽然是处于最终开花阶段。但由于是春季，所以不会额外扣除开花值</p>
                    <p>再举个例子:开局刚出门的沃姆伍德，除了地表白天以外什么自愈分要素都不具备，那么此时的自愈分结算:</p>
                    <p>(((0+1+0+0)*（0+1)/1.5) *(秋季1)~= 0.66，也就是当次扣除0.66饱食度恢复0.66的血量，较为羸弱</p>
                    <br>
                    <h5>最终开花阶段大重做！</h5>
                    <h6>开花优化</h6>
                    <p>在最终开花阶段，允许将食物的回血量50%转变为san值与开花值（本改版的核心设定，这意味着种地流和蘑菇流现在对沃姆伍德的收益是巨大的，是可以形成闭环的，而不是原版中种出一堆回血作物对沃姆伍德却几无用武之地</p>
                    <p>·由于花朵绽放的过于旺盛的原因，在这个阶段无法佩戴除了启迪之冠与面具类装备以外的任何头部装备</p>
                    <p>物品栏会长出五朵不可被移除的绽放之花，这五朵花的新鲜度映射的是最终开花阶段时的剩余开花值</p>
                    <p>-- 可通过设置调整绽放之花的数量</p>
                    <p>·开花时拥有很高的生活质量与战斗性能，如果触发了自愈分结算，还可以为周围队友提供<b>“绽放能量”</b>增益BUFF</p>
                    <p>·移除与作物对话必须处于三阶段的设定，现在任何阶段都可以自动跟作物对话，只不过随着开花等级的提升这个交流的范围会有所提升</p>
                    <p>·最终开花阶段且不处于春季时，自愈，失去血量时都会消耗对应的开花值</p>
                    <br>
                    <h6>最终开花阶段强化</h6>
                    <p>*获得月之庇护，这个能力类似骨甲，但CD为15秒</p>
                    <p>*获得10点位面防御与位面实体抵抗，任何攻击都将额外造成17点位面伤害(但这个伤害不会触发月后Boss的破防状态)</p>
                    <p>*最低体温不会低于10，完全免疫寒冷效果(因此在最终开花阶段，潮湿度不仅没有任何惩罚，反而越高越好)*免疫武器脱手</p>
                    <p>*贴近沃姆伍德的队友获得+25 San/min的理智恢复光环(机制同贴近被雇佣的猪哥一样)</p>
                    <p>*触发自愈时，对周围2o范围的所有队友（WX78不生效，其他沃姆伍德角色不生效）进行一次群体增益</p>
                    <p>-- 使其恢复相当于当次自愈分50%的生命，150%的理智，并给予一个10秒的绽放能量BUFF，绽放能量生效时该角色+20%移速，+50%工作效率，提高攻速，回升体温(其中提高攻速的buff只会持续8秒)</p>
                    <p>*触发自愈时，联动30范围内的活木贮藏窖，使其内部的物品反鲜或者修复耐久，具体恢复数值视当次自愈分而定,每修复或者反鲜一个物品都会扣除沃姆伍德一些饱食度</p>
                    <p>*大狂野生长的绽放之花会占据五个物品栏</p>
                    <br>
                    <h5>本体其他细节改动</h5>
                    <p>农场工人技能点现在会加快所有收集动作，而非只有农场作物</p>
                    <p>与农场作物交流时，当农作物存在压力值时，交流会降低1点压力值,当农作物压力值为0时，交流才会加快其约2分钟的生长速度。</p>
                    <p>右键巨大作物可以召唤藤蔓范围拆巨大，并额外获得一个果实</p>
                    <p>无需育种，沃姆伍德现在可以直接右键在地面的种子进行辨识.(注：这可以是一个批处理操作)</p>
                    <p>可以右键枯萎的草树枝这一类的作物以交流代替施肥使其正常成长</p>
                    <p>空手时，可以直接挖掘一些铲子能够挖掘的东西</p>
                    <p>理智上限降低至120，非最终开花阶段时的血量和饱食度上限为100/120，最终开花阶段时为150/200</p>
                    <p>搓植物能力不再需要依赖技能树，并且新增了海带，香蕉，海葵,海星的配方</p>
                    <p>沃姆伍德现在可以将1根活木化为2个木头，允许其在最极端的情况下获得木头</p>
                    <br>
                    <p><b>重做【月亮守卫 II】技能点</b></p>
                    <p>藤蔓的召唤条件由使用亮茄武器变成了最终开花阶段</p>
                    <p>藤蔓有40%被召唤，会立刻进行一次10位面伤害的抽打</p>
                    <p>若成功伤到目标，则这个藤蔓将会发动连击（类似装甲熊獾），并为沃姆伍德恢复1点开花值与0.5点精神值</p>
                    <br>
                    <h5>负面BUFF</h5>
                    <p>作为孤独者，沃姆伍德无法与任何中立生物交朋友</p>
                    <p>破坏植物的行为会损失更多理智(增加至10san，挖蘑菇扣除20san)，理智不能再无中生有</p>
                    <p>由于此改版中的特殊机制，沃姆伍德的食物消耗将是原版的数倍（当然，这点在沃姆伍德强大的产出能力下没什么压力）</p>
                    <p>开花时天然失去5个格子且不可以佩戴头部装备，这可能会造成一些麻烦，需要你在必要的时候做出退开花的操作</p>
                    <p>由于现在开花状态失去血量也会失去一定的开花值并且消耗很大，会对原版的一些角色组合操作造成影响，需要做下斟酌扬长避短</p>
                    <p>接近单机的易燃，火焰和高温永远是植物的天敌，无论在什么情况下，请时刻注意你有没有过热或者被引燃的风险<b>(三倍火焰伤害)</b></p>
                    <br>
                    <h5>全新物品！</h5>
                    <h6>活木贮藏窖</h6>
                    <p>一个梦幻般的储粮树洞，能够完美承载住你所有关于丰收的梦</p>
                    <p>可以存放非肉类，非烤熟类，非料理类的食物，棱镜的三把花剑及永不凋零，75%的腐烂效率，所有肥料物品以及沃姆伍德相关物品</p>
                    <p>沃姆伍德处于开花状态并触发自愈时联动其30范围内的所有贮藏窖，使其内部物品反鲜或修复耐久，具体反鲜程度和修复量跟视当次自愈分而定</p>
                    <p>拥有一个补偿机制，会周期性的将内部的腐败食物转化为堆肥，小概率转化为新增物品生长秘酿！所以不必担心离开的太久食物浪费掉，那些烂掉的食物会变成一种新的收获摆到你面前（当然你的队友可能不会这么想）</p>
                    <p>将友好果蝇果放入活木贮藏窖将提高活木贮藏窖的保鲜能力，使其从延缓25%腐败速度变为延缓50%腐败速度</p>
                    <p>不结算鼠潮分，哪怕里面有不新鲜的食物</p>
                    <p>不防火</p>
                    <br>
                    <h6>荆棘藤鞭</h6>
                    <p>前期廉价鞭类武器，耐久较低，面板伤害0点，但攻击可造成荆棘群伤效果</p>
                    <p>沃姆伍德使用时降低15%耐久消耗，并额外触发拘束效果，拘束数量视开花等级而定[*〕当沃姆伍德满血时，自愈机制从回血转为修复物品栏中的荆棘制品，荆棘甲同理</p>
                    <br>
                    <h6>多籽镜片</h6>
                    <p>配方为1石榴1紫宝石，耐久为新鲜度，归零时返还紫宝石</p>
                    <p>面具类头部装备，可在最终开花阶段佩戴，作用为查看耕地肥料，防沙尘暴与暴风雪</p>
                    <p>多籽镜片永远是潮湿的，并使佩戴它的人增长潮湿度到15点</p>
                    <br>
                    <h6>三个蘑菇流增强道具</h6>
                    <p>月菇流心卷:5分钟内持续消耗饱食恢复理智，使玩家完全免疫疲劳和催眠效果</p>
                    <p>沃姆伍德在其生效期内吃月亮蘑菇不会打哈欠，此外，还与永不妥协的Wathom有个小小的联动效果</p>
                    <p>红菇通心卷:5分钟内持续消耗饱食恢复血量，虽然时间长但恢复效率低，可视为下位糖豆，可以与糖豆共同生效</p>
                    <br>
                    <p>月菇孢子炸弹:投掷出去后释放大量孢子!可以破坏树木开石果，拥有保险机制不会在其他玩家与建筑物旁边爆炸,可以对低机动性或大体积生物造成巨额伤害</p>
                    <br>
                    <h6>生长秘酿</h6>
                    <p>由活木贮藏窖转化腐烂食物而来</p>
                    <p>32点催长剂的肥料，可以堆叠40个，是中后期沃姆伍德快速补充开花值的一种手段[*]是一种高效燃料，可以为火堆和提灯充能</p>
                    <p>可以替代树果酱为水中木施肥，但与树果酱不同的是，生长秘酿可以给已经成熟的水中木继续施肥,每次施肥都有一定概率使这个水中木长出新的苔藓藤条</p>
                    <p>可以修补船漏洞</p>
                    <br>
                    <h6>臭水桶</h6>
                    <p>加速内部物品的腐败,300%腐烂效率(一个任何角色都可以制作的新增公共物品)</p>
                    <br>
                    <h5>原版相关物品改动</h5>
                    <p>召唤物的契约时间由10天降低到8天</p>
                    <p>胡萝卜鼠:非冬季时会周期性的生产种子</p>
                    <p>光虫:不再被洞穴虚空卡住，移速提高不会因沃姆伍德移速过快而被甩开</p>
                    <p>嵘螈:完全重做，现在会召唤一个大号精英嵘螈，攻速显著提高并且攻击不会为自己吸引仇恨，可以批量烤制食物(暖石也可以烤熟，虽然这点对沃姆伍德意义不大)，召唤成本提高且只能召唤一个如果召唤时沃姆伍德处于最终开花阶段，还会额外获得位面抵抗效果与10点位面伤害</p>
                    <p>蝴蝶:会直接被最终开花阶段的沃姆伍德捕捉</p>
                    <p>荆棘甲:可以右键手动触发，沃姆伍德穿戴时获得更高额的反伤效果并取消最低反伤间隔*所有荆棘类攻击均不再伤害牛牛与任何友军</p>
                    <p>所有堆肥肥料:恢复tick降低，持续恢复血量的同时也会恢复理智与饱食</p>
                    <p>两种浇水壶:允许手持时右键进行泼水操作，使得角色增加25潮湿度，泼水会灌溉农田与枯萎作物以及灭火开局一本建议第一个做的东西就是普通浇水壶，这个东西可以在你被引燃的时候救你一命</p>
                    <p>肥料包:配方改变，使其并入改版沃姆伍德的体系当中</p>
                    <p>蘑菇蛋糕:由于月菇卷的存在，为了防止这个东西彻底没用,为其新增了一个效果:吃下时随机挑选饱食，血量，理智中的其中一个恢复50点</p>
                    <p>泻根糖浆:配方中的腐烂食物变为一个便便，一次制作俩个，启用棱镜时额外获得果泥香煎鱼的效果，沃姆伍德吃掉额外恢复15理智</p>
                    <p>月暑:现在可以当作水源接水，不会与不妥协冲突。</p>
                    <p>荆棘茄甲：荆棘茄甲获得一格装备格，可以加入肥料。当荆棘茄甲装载超过100个肥料时降低穿戴者10%移速，但会获得抗击退效果，荆棘茄甲可以自动施肥。</p>
                    <br>
                    <h5>杂项</h5>
                    <h6>原版物品强化<s>(又到了我最爱的鸡肋物品大改造环节啦)</s></h6>
                    <p>犁地草药膏一次可以制作3个</p>
                    <p>拾荒尖帽加强:拥有1260耐久,85%防御，可防止落石伤害</p>
                    <p>瓦套加强:W.A.R.B.I.S.盔甲增加至1260耐久，15位面防御，基础移速加成提升至15%，套装的战斗移速与伤害加成提高</p>
                    <p>种子袋强化,可无限堆叠（毕竟种子能占多大空间呢）</p>
                    <h6>原版机制优化</h6>
                    <p>海带可以堆叠种植了，不需要用船一个个挤了 (爽！)</p>
                    <p>海洋拖网捕鱼器满格自提，失鱼自降 (神中神！)</p>
                    <h6>兼容</h6>
                    <p>兼容绝大多数热门mod，联动内容与台词多不盛数</p>
                    <p><s>只有一句话绝对不是太多了我不想写</s></p>
                    <br>
                    <h5>编者的话</h5>
                    <p>本mod是Bering作品中完成度最高，代码量最大的mod,非常值得一玩</p>
                    <p>上述介绍相当多的内容都具有复杂的计算机制，本介绍仅仅叙述了较为主要的内容，更多内容请在游戏中体验</p>
                    <p>mod具有非常强大的兼容能力</p>
                    <p><s>写到这里真的坚持不下去了，详细内容与数据日后再更新吧</s></p>
                    <br>
                    <br>
                    <p>上一篇：<a href="./test11.html">吴迪重做</a></p>
                    <p>下一篇：<a href="./test13.html">温蒂重做</a></p>
                </div>
                <!--end div.wenzi-2-->
            </div>
            <!--end div.col-sm-12-->
        </div>
        <!--end div.row-->
    </div>

    <!--页脚-->
    <div class="footer">
        <div class="foot_row">
            <p style="text-align: center;">z-luck @ 2024-05-21</p>
        </div>
    </div>

</body>

</html>