<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>原武再锻</title>
    <link rel="stylesheet" href="../css/texts.css">
</head>

<body>
    <div class="ceb">
        <div id="title"></div>
        <span id="name">一只老祥瑞</span>
        <span id="myself">
            <a href="../index.html">
               z-luck
            </a>
            <a href="../index.html">
                2年6个月
            </a>
            <div id="p_b_follow"><a href="https://steamcommunity.com/sharedfiles/filedetails/?id=3154423088">求订阅</a></div>
        </span>
        <div id="texts">
            <h4>文章</h4>
            <h5 style="margin-left: 35px;"><a href="./text1.html">反鹰眼夜视</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test2.html">麦斯威尔再平衡</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test3.html">缝纫机</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test4.html">阿比打影怪</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test5.html">薇希召唤简化</a></h5>
            <h5 style="margin-left: 35px; color: rgb(67, 65, 206);">原武再锻</h5>
            <h5 style="margin-left: 35px;"><a href="./test7.html">大理石树再生</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test8.html">桩木重生</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test9.html">肉架微调</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test10.html">沃尔夫冈重做</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test11.html">吴迪重做</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test12.html">沃姆伍德重做</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test13.html">温蒂重做</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test14.html">保鲜餐桌</a></h5>
        </div>

    </div>
    <!--内容-->
    <div class="container neirong-jian">
        <div class="row">
            <div class="col-h4">
                <h4>原武再锻</h4>
            </div>
            <hr class="row-hr">
            <div id="link">
                <ul id="navList">
                    <li>
                        <a href="../index.html">首页</a>
                    </li>
                    <li>
                        <a href="./about.html">关于</a>
                    </li>
                    <li>
                        <a id="blog_nav_admin" href="./call.html">加入讨论</a>
                    </li>
                </ul>
            </div>
            <hr class="row-hr">
            <div class="col-img"><img src="../image/mod6.png"></div>
            <div>
                <div class="wenzi">
                    <h5>内容简介</h5>
                    <p>——为什么我天天都在用火腿棒？——</p>
                    <p>——为什么很多人离了警钟就感到不适？——</p>
                    <p>——所以，是时候让原版那贫瘠的武器选择来点新花样了——</p>
                    <h5>武器改动</h5>
                    <h6>1.三尾猫鞭</h6>
                    <p>-- 造成连续四段的17伤害攻击，这个多段伤害不受角色倍率影响</p>
                    <p>-- 使用缝纫道具修复（如针线包，胶带）</p>
                    <p>-- 耐久为0时不会消失，仍然可以攻击但失去一切特殊效果（类似警钟）</p>
                    <p>-- 鞭挞的触发概率提高至30%（对BOSS仍是5%）</p>
                    <h6>2.蝙蝠棒</h6> 
                    <p>-- 攻击时若玩家处于满血状态，蝙蝠棒的伤害将提高至59.5并且恢复1点耐久</p> 
                    <p>-- 若不处于满血状态，伤害降低为42.5并消耗1耐久为玩家恢复生命，玩家生命越低恢复越多（相对的，越接近满血越难恢复，最低只恢复1.5血量）</p> 
                    <p>-- 耐久为0不消失，失去特殊效果变为17伤害，直到玩家下次满血挥刀时恢复耐久</p>
                    <p>-- 移除攻击会消耗精神值的设定</p> 
                    <p>-- 蝙蝠（包括UM的大蝙蝠）现在有1%的概率直接掉落蝙蝠棒</p>
                    <p><b>基于重做后的特性，蝙蝠棒现在仅有40点耐久并且无法对发条生物，食人花，哈奇切斯特触发特效
                        此外，蝙蝠棒现在将一击秒杀所有种类的蝙蝠并使它们有35%额外掉落一个蝙蝠翅膀</b></p>
                    <h6>3.刺耳三叉戟</h6>   
                    <p>-- 在海上攻击时不消耗耐久</p> 
                    <p>-- 对目标造成6秒的潮湿效果，非常适合搭配辣闪</p>
                    <p>-- 当处于潮湿状态时缓慢恢复耐久</p>
                    <p>-- 配方中的树枝替换为活木，所需独角鲸角的数量降低为1</p>
                    <h6>4.铥矿棒</h6>
                    <p>-- <b>召唤的暗影小触手史诗级优化，在召唤的瞬间就能够打出两次平A（基本上是完全不会丢伤害了）且现在也能正常对影怪造成伤害</b></p>
                    <p>-- 小触手的召唤概率提高至30%，如果同时穿戴了铥甲铥头，那么概率将提高至70% （套装效果）</p>
                    <p>-- 增速效果重做，移除10%常驻加速，取而代之的是现在铥棒将在战斗状态下提供25%加速效果！</p>
                    <p>-- 耐久提高至325，攻击距离变为1</p>
                    <p>-- 配方调整为2活木4铥矿8燃料</p>
                    <h6>5.玻璃刀</h6>
                    <p>-- 攻击暗影生物额外造成随机17至34点伤害并造成强制硬直效果（可以像旺达那样无脑打先手了）</p>
                    <p>-- 削弱暗影生物，使其降低50%移速和30%伤害</p>
                    <p>-- 击杀暗影生物额外奖励12理智</p>
                    <h6>6.栅栏击剑</h6>
                    <p>-- 伤害提高至42.5，攻击距离提高至1</p>
                    <h6>7.晨星</h6>
                    <p>-- 伤害提高至34，持续时间(耐久)提高至1.5天</p>
                    <p>-- 可用土豆，硝石，闪电羽毛恢复一定耐久</p>
                    <p>-- 扔在发电机旁边时自动消耗发电机电量恢复耐久</p>
                    <p>-- 薇诺娜使用时将对机械生物 （所有发条生物, wx78 ,双子魔眼）造成额外42,5伤害</p>
                    <p><b>注：后三条在开启永不妥协时自动关闭，应用永不妥协对晨星的改动</b></p>
                    <br>
                    <p>上一篇：<a href="./test5.html">薇希召唤简化</a></p>
                    <p>下一篇：<a href="./test7.html">大理石树再生</a></p>
                </div>
                <!--end div.wenzi-2-->
            </div>
            <!--end div.col-sm-12-->
        </div>
        <!--end div.row-->
    </div>

    <!--页脚-->
    <div class="footer">
        <div class="foot_row">
            <p style="text-align: center;">z-luck @ 2024-05-21</p>
        </div>
    </div>

</body>

</html>