<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>缝纫机</title>
    <link rel="stylesheet" href="../css/texts.css">
</head>

<body>
    <div class="ceb">
        <div id="title"></div>
        <span id="name">一只老祥瑞</span>
        <span id="myself">
            <a href="../index.html">
               z-luck
            </a>
            <a href="../index.html">
                1年4个月
            </a>
            <div id="p_b_follow"><a href="https://steamcommunity.com/sharedfiles/filedetails/?id=3150483187">求订阅</a></div>
        </span>
        <div id="texts">
            <h4>文章</h4>
            <h5 style="margin-left: 35px;"><a href="./text1.html">反鹰眼夜视</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test2.html">麦斯威尔再平衡</a></h5>
            <h5 style="margin-left: 35px; color: rgb(67, 65, 206);">缝纫机</h5>
            <h5 style="margin-left: 35px;"><a href="./test4.html">阿比打影怪</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test5.html">薇希召唤简化</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test6.html">原武再锻</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test7.html">大理石树再生</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test8.html">桩木重生</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test9.html">肉架微调</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test10.html">沃尔夫冈重做</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test11.html">吴迪重做</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test12.html">沃姆伍德重做</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test13.html">温蒂重做</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test14.html">保鲜餐桌</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test15.html">皮弗娄牛改动</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test16.html">驯养考拉象</a></h5>
        </div>

    </div>
    <!--内容-->
    <div class="container neirong-jian">
        <div class="row">
            <div class="col-h4">
                <h4>缝纫机</h4>
            </div>
            <hr class="row-hr">
            <div id="link">
                <ul id="navList">
                    <li>
                        <a href="../index.html">首页</a>
                    </li>
                    <li>
                        <a href="./about.html">关于</a>
                    </li>
                    <li>
                        <a id="blog_nav_admin" href="./call.html">加入讨论</a>
                    </li>
                </ul>
            </div>
            <hr class="row-hr">
            <div class="col-img"><img src="../image/mod3.png"></div>
            <div class="col-img"><img src="../image/mod3_1.png"></div>
            <div class="col-img"><img src="../image/mod3_2.png"></div> 
            <div>
                <div class="wenzi">
                    <h5>内容简介</h5>
                    <p>你还在为翻箱倒柜只为找到针线包而懊恼不已吗？
                        那么恭喜你，订阅本模组后，这将成为历史
                        本模组重做了 牛年缝纫机 这一官方物品
                        缝纫机不再具有编制牛牛皮肤的能力（给一个元宝可以变回原版的牛年缝纫机），取而代之的是它可以自动修补它周边的衣服！
                    </p>
                    <p>这包括：</p>
                    <P>①玩家身上的衣服</P>
                    <P>②假人身上的衣服</P>
                    <P>③放在地上的衣服</P>
                    <h5>具体信息</h5>
                    <h6>1.科技与材料</h6>
                    <p>改版缝纫机以1*针线包，6*牛毛，6*黄金，2*齿轮的材料在炼金引擎解锁！（注：在衣物分类里）</p>
                    <h6>2.运行消耗</h6>
                    <p>缝纫机会将线材类物品（如蜘蛛网，牛毛，兔毛，钢丝绒，胶带甚至是胡须）转化为一定的线轴值（上限6000点），每次缝补都将消耗1线轴值</p>
                    <h6>3.杂项</h6>
                    <p>缝纫机不仅可以修补衣服，它还可以为 袋袋（一位玩偶主题人物mod） 和 伯尼（无论是大伯尼还是小伯尼） 恢复生命！</p>
                    <p><b>为玩偶缝补回血很合理吧</b></p></p>
                    <br>
                    <p>上一篇：<a href="./test2.html">麦斯威尔再平衡</a></p>
                    <p>下一篇：<a href="./test4.html">阿比打影怪</a></p>   
                </div>
                <!--end div.wenzi-2-->
            </div>
            <!--end div.col-sm-12-->
        </div>
        <!--end div.row-->
    </div>

    <!--页脚-->
    <div class="footer">
        <div class="foot_row">
            <p style="text-align: center;">z-luck @ 2024-05-21</p>
        </div>
    </div>

</body>

</html>