<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>沃尔夫冈重做</title>
    <link rel="stylesheet" href="../css/texts.css">
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
            font-size: 0.9em;
            font-family: sans-serif;
            min-width: 400px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        }
        th, td {
            padding: 12px 15px;
        }
        th {
            background-color: #009879;
            color: #ffffff;
            text-align: left;
            font-weight: bold;
        }
        td {
            border: 1px solid #dddddd;
        }
        .text-center {
            text-align: center;
        }
     </style>
</head>

<body>
    <div class="ceb">
        <div id="title"></div>
        <span id="name">一只老祥瑞</span>
        <span id="myself">
            <a href="../index.html">
               z-luck
            </a>
            <a href="../index.html">
                2年6个月
            </a>
            <div id="p_b_follow"><a href="https://steamcommunity.com/sharedfiles/filedetails/?id=3166415014">求订阅</a></div>
        </span>
        <div id="texts">
            <h4>文章</h4>
            <h5 style="margin-left: 35px;"><a href="./text1.html">反鹰眼夜视</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test2.html">麦斯威尔再平衡</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test3.html">缝纫机</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test4.html">阿比打影怪</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test6.html">原武再锻</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test7.html">大理石树再生</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test8.html"></a>桩木重生</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test9.html">肉架微调</a></h5>
            <h5 style="margin-left: 35px; color: rgb(67, 65, 206)">沃尔夫冈重做</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test11.html">吴迪重做</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test12.html">沃姆伍德重做</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test13.html">温蒂重做</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test14.html">保鲜餐桌</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test15.html">皮弗娄牛改动</a></h5>
        </div>

    </div>
    <!--内容-->
    <div class="container neirong-jian">
        <div class="row">
            <div class="col-h4">
                <h4>沃尔夫冈重做</h4>
            </div>
            <hr class="row-hr">
            <div id="link">
                <ul id="navList">
                    <li>
                        <a href="../index.html">首页</a>
                    </li>
                    <li>
                        <a href="./about.html">关于</a>
                    </li>
                    <li>
                        <a id="blog_nav_admin" href="./call.html">加入讨论</a>
                    </li>
                </ul>
            </div>
            <hr class="row-hr">
            <div class="col-img"><img src="../image/mod10.png"></div>
            <div>
                <div class="wenzi">
                    <h5>内容简介</h5></h5>
                    <p>你是否觉得原版沃尔夫冈在经历重做和技能聚点更新后有点……过于的强了？</p>
                    <p>为此，你打开了UM的【沃尔夫冈削弱】选项，却发现最高八倍饥饿速度+绑定肌肉值的恶意设定让你根本玩不下去？
                    </p>
                    <p>所以，此MOD诞生了，旨在从人设，舒适性，挑战性上重新合理平衡沃尔夫冈的强度问题
                    <h5>人物改动介绍</h5>
                    <h6>1.三维改动</h6>
                    <p>三维重改为：300/120/225</p>
                    <h6>2.力量值相关重做(重要改动)</h6>
                    <p>
                    <table>
                        <tr>
                            <th>力量值X</th>
                            <th>BUFF</th>
                            <th>DEBUFF</th>
                        </tr>
                        <tr>
                            <td>X&lt;25</td>
                            <td>减少25%饥饿消耗</td>
                            <td>受到两倍伤害</td>
                        </tr>
                        <tr>
                            <td>25&lt;X&lt;75</td>
                            <td>沃尔夫刚会有1.25的攻击倍率,练腿日技能点提供10%移速</td>
                            <td>无</td>
                        </tr>
                        <tr>
                            <td>75&lt;X&lt;100</td>
                            <td>沃尔夫刚会有1.5的攻击倍率,抗击退，武器不脱手，受击后短暂霸体减伤</td>
                            <td>1.5倍的饥饿消耗速率</td>
                        </tr>
                        <tr>
                            <td>100&lt;X&lt;150</td>
                            <td>每突破1点肌肉值，提供0.01%增伤效果（即当肌肉值达到150点时伤害达到原版2.0水平）,每多1点肌肉就会提高0.5%一击必杀概率和触发霸体时的减伤率以及霸体持续时间</td>
                            <td>突破100肌肉后每多1肌肉值额外提高1%饥饿消耗</td>
                        </tr>
                    </table>
                    <p>注：50%饥饿消耗计算是独立的，不受诸如棱镜的金黄香粽，UM的象鼻大餐等减少饥饿消耗BUFF的影响
                        变身不造成硬直（实测应该是硬直时间极短，会打断原有指令，不过依然是相当大的优化）
                        关于抗击退，武器不脱手，霸体相关概念后面会详细描述</p>
                    <br>
                    <h6>2.饥饿值与力量值的关联</h6>
                    <p>当饥饿值大于50%（即饱食度>150）时力量值不会自然下降 </p>
                    <br>
                    <h6><strong>3.理智值机制改动（非常重要）</strong></h6>
                    <p>本mod对沃尔夫刚最主要的削弱</p>
                    <p>-- 当沃尔夫刚san值不满时会根据已损失san值获得仅对本人生效的负面理智光环，理智＜20%显著提高失去理智速度</p>
                    <p>具体计算机制为（1-已损失san值百分比）*0.2（san/s）,简单来说，每损失20san，会增加-2sanity/min的负面理智，当然，这个变化过程是线性的,当san值&lt;20%时，采用另一方案，此时-45sanity/min</p>
                    <br>
                    <p>-- <b>当理智为0时，沃尔夫刚将直接失去所有肌肉值</b>(护符骨盔不会导致这个效果，月岛也是)</p>
                    <br>
                    <p>-- 任何疯狂光环大于 -100san／min的生物或暗影联盟生物的攻击都将使沃尔夫冈失去精神，且sanity&lt;40%时不会触发该效果。</p>
                    <p>具体数值:</p>
                    <p>暗影生物或鬼魂或老鼠或具有-400理智光环的生物或一些其他恐怖的生物攻击：10~20的随机值</p>
                    <p>被暗影联盟生物攻击小幅度失去理智值：2~5的随机值</p>
                    <br>
                    <h6>4.技能树与相关效果改动</h6>
                    <p><b>一击必杀：</b></p>
                    <p>一击必杀效果时自身将受到硬直（参考使用普通稿敲击裸露绝望石柱），扣除饱食度（5）并使该工具额外损失3点耐久，肌肉突破100后，每多1点肌肉就会提高0.5%一击必杀概率</p>
                    <br>
                    <p><b>口哨:</b>口哨:</p>
                    <p>勇气口哨 制作配方为一个铥矿徽章与一个土豆</p>
                    <p>描述：吹响勇气口哨时，自己和周围的队友恢复10点理智，交流周围的土豆作物，CD4分钟，吹响后，沃尔夫冈2分钟内不会因为低理智而额外增加负面理智光环。</p>
                    <br>
                    <p><b>哑铃：</b></p>
                    <p>丢红宝石哑铃不会生成狗火，改成点燃砸到的敌人</p>
                    <p>丢蓝宝石哑铃不仅能冰冻还能熄灭附近的火</p>
                    <p>丢紫宝石哑铃能短暂减速敌人(减速50%持续5s)</p>
                    <p>紫宝石哑铃伤害降低，耐用性提高，对目标造成减速效果，还会在投掷后自动回到沃尔夫冈手上</p>
                    <p>哑铃丢入水面时，会溅起水花，如果砸到了海鱼，那么将会杀死这个海鱼</p>
                    <br>
                    <p><b>力量值突破：</b></p>
                    <p>纳入人物本身设计，因而此技能点全部作废</p>
                    <br>
                    <p><b>近战位面增伤：</b></p>
                    <p>现在每级威力只增加2点位面伤害</p>\
                    <br>
                    <p><b>阵营技能点:</b></p>
                    <p>二三级阵营增伤作废，三级技能点作废</p>
                    <p>暗影技能：</p>
                    <p>理智为0时不再瞬间失去所有肌肉，而是以每秒1点的速度流失，与一只暗影联盟生物作战时，其他暗影联盟生物不会对你产生仇恨</p>
                    <p><b>女王将允许你献上一场又一场斗兽表演来奖励的你的忠诚</b></p>
                    <br>
                    <p>月亮技能：</p>
                    <p>允许沃尔夫冈将烤土豆转化为月之土豆珍馐，这是一种比烤土豆更加强大的月亮食品</p>
                    <p><b>神秘创始人将以全新的月亮食品来奖励你对土豆的好奇心</b></p>
                    <p>将烤土豆放置在地上可以右键进行月亮转化</p>
                    <P>月之土豆珍馐：20/5/20(拥有舒缓茶特效)</P>
                    <p>注：<b>该食物被视作料理</b></p>
                    <p>沃尔夫冈食用额外+10san，同时月之土豆珍馐也作为沃尔夫冈最喜欢的食物，即食用额外收益在原版+20hungry，在um+7.5san。</p>
                    <p>（不同的人物检查该食物会有不同的语音，包括um人物）</p>
                    <br>
                    <h6>5.强壮状态战斗优化</h6>
                    <p>抗击退：</p>
                    <p>效果优化，强壮时不止免疫UM的击退，还可以减轻官方击退效果</p>
                    <br>
                    <p>不脱手：</p>
                    <p>强壮时肌肉紧紧抓住武器，不会因潮湿，熊大，大鹅吼叫脱手（与沃特相同）</p>
                    <br>
                    <p>霸体：</p>
                    <p>获得刚毅效果，挨打后n秒内免疫打击硬直，拥有减伤机制，刚毅时间内再次受击会触发减伤</p>
                    <p>刚毅的持续时间具体计算机制为：</p>
                    <p>75&lt;X（力量值）&lt;100 时n=0.75</p>
                    <p>突破100力量后每增加1力量值会增加0.025秒，即肌肉值150时最高获得2秒刚毅效果</p>
                    <p>减伤的具体计算机制为：</p>
                    <p>75&lt;X（力量值）&lt;100 时拥有20%减伤</p>
                    <p>突破100力量后每增加1力量值会增加0.5%减伤，即肌肉值150时最高45%减伤</p>
                    <p>注：<b>首次触发刚毅的攻击不参与减伤结算</b></p>
                    <br>
                    <h6>6.重击效果</h6>
                    <p>描述：现在，沃尔夫冈保持高理智时得到奖励，有时会有小概率触发一个重击效果</p>
                    <p>-- 当次攻击伤害提高，造成强制硬直效果并重置目标攻击CD</p>
                    <p>伤害机制:</p>
                    <p>-- 75&lt;X（力量值）&lt;100 时会追加20%伤害，效果如上,突破100力量后每增加1力量值重击会增加1点位面伤害</p>
                    <p>触发机制:</p>
                    <p>-- 当san值百分比&gt;95%时，触发率为10%,此后每下降5%san，触发率-2%,即san&lt;50%时后不在触发重击,此变化非线性</p>
                    <p>触发音效；</p>
                    <p>-- <s>奇 怪 的 打 铁 声（作者原话）</s></p>
                    <p>特效补充：</p>
                    <p>对于会进入防御状态的生物，当他们处于防御状态时必定触发刚子的重击效果，因此沃尔夫冈现在非常克制石虾蜗牛以及岩壳蜘蛛。</p>
                    <br>
                    <h6>7.强大健身房重做</h6>
                    <p>锻炼会让沃尔夫冈恢复理智，满肌肉值时不会强制下来，同时，由于土豆袋的改动，强大健身房建造成功时不再自带俩个土豆袋（但也因此，你总算能看到完整的健身房建造动画了），此外，当健身房总重量低于7（即非俩个BOSS雕像，巨大作物）时，沃尔夫冈最多只能将肌肉值突破到125左右</p>
                    <p>简明下就是：开局1.5，健身房+普通雕像1.75，健身房+BOSS雕像2</p>
                    <br>
                    <h6>8.土豆袋重做（神！）</h6>
                    <p>土豆袋重做，可以放入六格土豆，<b>20倍保鲜</b></p>
                    <p>根据土豆数量计算重量，最大为4，120个土豆就可以达到</p>
                    <br>
                    <h5>杂项</h5>
                    <p>1.挖掘行为不会触发一击必杀，锤巨大作物不会触发一击必杀</p>
                    <p>2.开启饮水思饥Mod时，水分值的掉落也会受到影响</p>
                    <p>3.食用千层饼，潮湿糊糊会降低肌肉值到50</p>
                    <p>("不健康的食物伤害了沃尔夫冈的肌肉。")</p>
                    <p>4.眼面具强化：克头耐久提高到735，受击时恐吓生物（大约8秒混乱），耗饥饿回耐久（为什么会有这种东西，不过我没意见）</p>
                    <p><s>白令特有的喜欢塞点无关紧要的私货</s></p>
                    <br>
                    <p>上一篇：<a href="./test9.html">肉架微调</a></p>
                    <p>下一篇：<a href="./test11.html">吴迪重做</a></p>
                </div>
                <!--end div.wenzi-2-->
            </div>
            <!--end div.col-sm-12-->
        </div>
        <!--end div.row-->
    </div>

    <!--页脚-->
    <div class="footer">
        <div class="foot_row">
            <p style="text-align: center;">z-luck @ 2024-05-21</p>
        </div>
    </div>

</body>

</html>